<!DOCTYPE html>
<html lang="es">
<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/bebe.png" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="about.component.css">

    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>
<div class="page">
<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
  <div id="stuck_container">
      <div class="container">
          <div class="row">
              <div class="grid_12">
                  <div class="brand put-left">
                      <h1>
                          <a href="index.html">
                              <img src="https://cdn.pixabay.com/photo/2014/08/14/11/14/explosion-417894_960_720.png" alt="Logo" width="400" height="300" class="img_2"/>
                          </a>
                      </h1>
                  </div>
                  <br>
              </div>
          </div>
      </div>
  </div>
</header>
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - September08, 2014!</div>
<div class="container">
    <div class="row wrap_11 wrap_12">
        <div class="grid_7">
            <h2 class="header_2 indent_1">Equipo Dinamita</h2>
        </div>
        <div class="grid_5">
            <div class="img-wrap">
                <img src="https://scontent.fpbc2-2.fna.fbcdn.net/v/t1.0-9/52867305_2325707984324242_8233864511623266304_n.jpg?_nc_cat=107&_nc_ht=scontent.fpbc2-2.fna&oh=d16efa683a50121db87d38a79deb7cb8&oe=5D5B7FCA" alt="Image 1" width="200" height="200" class="img_1" data-src="images/vision.gif"/>
            </div>
            <div class="clearfix"></div>
           
        </div>
    </div>
</div>
<div class="bg_1 wrap_13 wrap_10">
    <div class="container">
        <div class="row">
            <div class="grid_12">
              <br>
              <br>
              <br>
                <h2 class="header_2 indent_2">
                    Nuestro equipo
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_6">
                <div class="box_4">
                    <p class="text_5">
                       Somos 4 estudiantes cursando el ultimo semestre de la Licenciatura en SISTEMAS COMPUTACIONALES ADMINISTRATIVOS, <br>
                    estamos llevando a cabo un proyecto final de la Experiencia Educativa Aspectos Humanos de la ingeniería
                    de Software. 
                    <br>
                      </p>
                    <div class="row">
                        <div class="grid_2">
                            <ul class="list_2 text_6">
                                    <li><a href="https://www.facebook.com/mariaguadalupe.ruizlopez.399">María Ruíz</a></li>
                                    <p class="text_5">
                                      SMi nombre es Maria Guadalupe Ruiz López tengo 22 años, actualmente estudio el octavo periodo de la Licenciatura en sistemas computacionales administrativos, en la región Orizaba-Córdoba.
                                      Me considero una persona responsable, emprendedora, amo la naturaleza y el habito por la lectura. En mis tiempos libres me gusta cantar, salir con mis amigos o ver una buena película.
                                      
                                      Tengo muchos sueños en la vida, siempre voy tras ellos para poder cumplirlos, estoy segura de que seré una excelente profesionista.
                                   </p>
                                <li><a href="https://www.facebook.com/profile.php?id=100011384153730">Gabriela Perez</a></li>
                                <p class="text_5">Mi nombre es Gabriela Pérez Aguilar, tengo 21 años. En mis tiempos libres me dedico a ser una entrenadora pokemon, mi meta es llenar mi pokedex. 
                                  Me considero una persona responsable, honesta, sencilla y trabajora. Amo escuchar música. Me encanta mi carrera y tengo muchas metas por cumplir. Y se que lo voy a lograr, de veras!! XD
                                </p>
                                <li><a href="https://www.facebook.com/AdrianGarciaG">Adrián García</a></li>
                                <li><a href="https://www.facebook.com/alondralizbeth.cruzsanchez?epa=SEARCH_BOX">Alondra Cruz</a></li>
                            <p class="text_5">Mi nombre es Alondra Lizbeth soy estudiante de la Universidad Veracruzana de la carrera de sistemas computacionales administrativos, tengo 21 años.
                               Mi interés por la tecnología se debe al impacto que ha causado en la sociedad y la rapidez con la que evoluciona.</p>
                              </ul>
                        </div>
                        
                           
                    
                    </div>
                   
                </div>
            </div>
            <div class="grid_6">
                <div class="img-wrap">
                  
                    <img src="https://scontent.fpbc2-2.fna.fbcdn.net/v/t1.0-9/31880857_2120455814849461_2005581781125824512_n.jpg?_nc_cat=109&_nc_ht=scontent.fpbc2-2.fna&oh=15316b3317efd247111b1e13aa513342&oe=5D5284E1" alt="Guadalupe 6" width="150" height="150" class="img_2"/>
                       <img src="https://scontent.fpbc2-2.fna.fbcdn.net/v/t1.0-9/56237557_999878347068294_1574104324278059008_n.jpg?_nc_cat=100&_nc_ht=scontent.fpbc2-2.fna&oh=d4857cd7ab9e02c4886085aef03c6ccc&oe=5D582A0D" alt="Gabriela 8" width="170" height="180" class="img_2"/>
                    <img src="https://scontent.fpbc2-2.fna.fbcdn.net/v/t1.0-9/20768152_1586406361406063_5678910890385814473_n.jpg?_nc_cat=109&_nc_ht=scontent.fpbc2-2.fna&oh=27553074f4d78a38f2f0818d65e75e3a&oe=5D9DCCAD" alt="Adrian 7" width="150" height="150" class="img_2"/>
                    <img src="https://scontent.fpbc2-2.fna.fbcdn.net/v/t1.0-9/42186853_1887490601334020_3644993630055170048_n.jpg?_nc_cat=101&_nc_ht=scontent.fpbc2-2.fna&oh=411d25aaa502758a630f9f092ac3d12a&oe=5D60AEB7" alt="Guadalupe 6" width="130" height="150" class="img_2"/>
                </div>
                <br><br><br><br>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row wrap_14">
        <div class="grid_12">
            <h2 class="header_1 wrap_8 color_3">
                Los valores que nos caracterizan son: 
            </h2>
        </div>
    </div>
    <div class="row wrap_15">
        <div class="grid_4">
            <div class="box_5" data-index="1">
                <h3 class="text_2 color_2"><a href="#">Compromiso</a></h3>
               
            </div>
        </div>
        <div class="grid_4">
            <div class="box_5" data-index="2">
                <h3 class="text_2 color_2"><a href="#">Emprendimiento</a></h3>
                
            </div>
        </div>
        <div class="grid_4">
            <div class="box_5" data-index="3">
                <h3 class="text_2 color_2"><a href="#">Responsabilidad</a></h3>
                
            </div>
        </div>
    </div>
</div>

</section>
</div>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="color_9">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <p class="info text_4 color_4">
                    © <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <br/>
                    Sitio Web diseñado por AGALU Phone.
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="js/script.js"></script>
</body>
</html>